:root {
  --v-primary-base: #00a29a;
  --v-primary-base-rgb: 0, 162, 154;
  --v-primary-base-contrast: #ffffff;
  --v-primary-base-contrast-rgb: 255, 255, 255;
  --v-primary-base-shade: #008f88;
  --v-primary-base-tint: #1aaba4;
}
html {
  // background-color: rgba(var(--v-primary-base-rgb), 0.8);
  img {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
}
